<div class="container">
  <%= simple_form_for :search, method: "GET", url: root_path, remote: true do |form|%>
    <div class="row">
      <%= form.input :modes, label: "Mode", collection: $modes, as: :check_boxes %>
    </div>
    <div class="row">
      <%= form.input :durations, label: "Durée (en semaines)", collection: $durations, as: :check_boxes %>
    </div>
    <div class="row">
      <%= form.input :prices, label: "Prix", collection: $prices, as: :check_boxes %>
    </div>
  <% end %>
</div>
