<div class="container">
  <%= simple_form_for :search, method: "GET", url: root_path, remote: true do |form|%>
    <div class="row">
      <%= form.input :modes, label: "Mode", collection: $modes, as: :check_boxes %>
    </div>
    <div class="row">
      <%= form.input :durations, label: "Durée (en semaines)", collection: $durations, as: :check_boxes %>
    </div>
    <div class="row">
      <%= form.input :prices, label: "Prix", collection: $prices, as: :check_boxes %>
    </div>
  <% end %>
</div>
<script>
  $(function () {
    var chks_modes = $('[name="search[modes][]"]')
    var chks_durations = $('[name="search[durations][]"]')
    var chks_prices = $('[name="search[prices][]"]')

    chks_modes.click(function () {
      for (i = 0; i < chks_modes.length; i++) {
        if ($(this)[0] !== chks_modes[i]) {
          chks_modes[i].checked = false;
        }
      }
    });
    chks_durations.click(function () {
      for (i = 0; i < chks_durations.length; i++) {
        if ($(this)[0] !== chks_durations[i]) {
          chks_durations[i].checked = false;
        }
      }
    });
    chks_prices.click(function () {
      for (i = 0; i < chks_prices.length; i++) {
        if ($(this)[0] !== chks_prices[i]) {
          chks_prices[i].checked = false;
        }
      }
    });
   });
  // $(function () {
  //   var chks = $("input.check_boxes");
  //   var filterModes = document.getElementsByName("search[modes][]")
  //   var filterDurations = document.getElementsByName("search[durations][]")
  //   var filterPrices = document.getElementsByName("search[prices][]")
  //
  //   chks.click(function () {
  //     if (chks[i].name === filter)
  //       for (i = 0; i < chks.length; i++) {
  //         if ($(this)[0] !== chks[i]) {
  //           chks[i].checked = false;
  //         }
  //       }
  //   });
  //  });
 </script>
