<div class="container col-12 mt-5">
  <div class="text-center filters">
    <h4>Filtres de recherche : </h4>
    <br>
    <%= render 'filter_mode' %>
  </div>

  <div class="items-list d-flex flex-wrap mt-5 trainings">
    <%= render 'trainings', trainings: @trainings %>

  </div>
</div>

<script type="text/javascript">
  var checkBoxes = document.querySelectorAll(".check_boxes");

  var form = document.querySelector('.simple_form');

  for (const checkBox of checkBoxes) {
  checkBox.addEventListener( 'change', function() {
    Rails.fire(form, 'submit');
  });
  }
</script>
