<div class="container col-12 mt-5">
  <div class="items-list d-flex flex-wrap mt-5 trainings">
    <%= render 'trainings', trainings: @trainings %>

  </div>
</div>

<script type="text/javascript">
  var checkBoxes = document.querySelectorAll(".checkbox");
  var form = document.querySelector('.simple_form');

  for (const check of checkBoxes) {
  check.addEventListener( 'change', function() {
    Rails.fire(form, 'submit');
  });
  }
</script>
