<div class="container col-12 mt-5">
  <div class="text-center filters">
    <h3>Filtres de recherche : </h3>
    <br>
    <%= render 'filter_mode' %>
  </div>

  <div class="items-list d-flex flex-wrap mt-5 trainings">
    <%= render 'trainings', trainings: @trainings %>

  </div>
</div>

<script type="text/javascript">
  var radioButtons = document.querySelectorAll(".check_boxes");
  //var radioButtons = document.querySelectorAll("input.radio_buttons.required");
  var form = document.querySelector('.simple_form');

  for (const radio of radioButtons) {
  radio.addEventListener( 'change', function() {
    Rails.fire(form, 'submit');
  });
  }
</script>
