<h1>Trainings#index</h1>
<% @trainings.each do |training|%>
  <h3><%=training.name%></h3>
  <%= link_to "En savoir plus sur cette formation", training_path(training), class: "btn btn-info" %>
<% end %>
