<%= @training.name %>
<%= @training.school.name %>
<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <%= comment.user %>
      <%= comment.content %>
    </div>
  <% end %>
</div>
