<p>Nom de la formation : <%= @training.name %></p> 
<br>

<p>Nom de l'école : <%= @training.school.name %></p>
<br>

<p>Site de l'école : <%= @training.school.website %></p>
<br>

<%@sessions.each do |session|%>
<%=training.session%>
<%end%>

