<!DOCTYPE html>
<html>
<head>
  <title>Guide</title>
</head>
<body>

<div class="container">
  <h2>Notre guide de survie!</h2>
  <p>Ce guide comprend les réponses aux questions les plus fréquentes que nous avons eu depuis la création de notre site. N'hésitez pas à nous contacter si vous avez d'autres questions!</p>
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Qui sommes-nous?
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          Notre site «  Reconversion Web Pro » est entièrement dédié aux écoles et formations dans le numérique et spécifiquement le développement Web en France permettant aux personnes qui souhaitent découvrir ce monde et se reconvertir de trouver les formations qui les intéressent.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Se reconvertir, pourquoi ?
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
         La reconversion concerne des professionnels qui viennent d’horizons variés qui souhaitent être à l’écoute du marché de travail. Avec  la reconversion vers les métiers du web est toujours souhaitée, il peut s’agir de mise à niveau des compétences ou de l’apprentissage de compétences annexes.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Est-ce une formation courte peut assurer ma reconversion ?
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Bien que l’autoformation soit courante dans les métiers du numérique, elle est rarement suffisante à elle seule d’assurer la reconversion. Et la majorité de candidats préfèrent valider leurs compétences à travers une formation reconnue par le marché d’emploi et pourquoi pas certifiante. « Reconversion Web Pro » vous aide dans votre reconversion avec les informations nécessaires sur les formations disponibles ! En plus du contenu pédagogique, ces formations permettent aux étudiants de développer « un réseau » essentiel pour la recherche d’emploi.
        </div>
      </div>
    </div>
        <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
        Je n’ai jamais codé, c’est un problème ?
      </a>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
         Si vous êtes débutants et que vous n’avez jamais touché à une ligne de code, vous êtes les bienvenus ! En fait, « Reconversion Web Pro » est conçu pour vous aider à trouver la bonne formation qui facilitera votre reconversion ou si vous voulez acquérir des nouveaux ‘skills’ indispensables pour les métiers de futur ! Les cours généralement ne nécessitent aucun prérequis,en contrepartie la motivation et une bonne logique doivent être au rendez-vous !
        </div>
      </div>
    </div>
        <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
        Est-ce que Pôle Emploi peut financer ma formation ?
      </a>
      </div>
      <div id="collapseFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
         Ça dépend de la formation, certaines sont éligibles au financement à l’aide individuelle à la formation (AIF) que vous pouvez cumuler avec d’autres aides notamment le compte personnel formation (CPF). Nous vous conseillons de parcourir les organismes/écoles qui vous intéressent et de vous renseigner auprès d’eux ainsi qu’auprès de votre conseiller Pôle Emploi.
        </div>
      </div>
    </div>
        <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
        Comment s’inscrire à une formation ?
      </a>
      </div>
      <div id="collapseSix" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Chaque formation présente sur « Reconversion Web Pro » a ses propres modalités d’inscription, nous vous invitons à :
          <ol>
      <li>Trouver une formation grâce à notre moteur de recherche dans la page Accueil ou en vous rendant sur les pages des Ecoles </li>
      <li>Dès que vous avez trouvé la formation qui vous convient, vous pouvez entrer en contact avec elle pour en savoir plus sur les prochaines sessions. Toutes les informations de contact sont disponibles sur les fiches des formations.</li>
          </ol>
        </div>
      </div>
    </div>

        <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
        Nos conseils pour la recherche 
      </a>
      </div>
      <div id="collapseSeven" class="collapse" data-parent="#accordion">
        <div class="card-body">
         La reconversion vers les métiers du développement Web est une aventure qui demande une grande motivation et beaucoup de patience. Nous vous conseillons de choisir une formation qui correspond <u>à votre emploi du temps</u> : à plein temps si vous êtes disponible ou plutôt à temps partiel si vous travaillez, et <u>à vos préférences</u> : si vous avez le goût des couleurs et du design, optez pour une formation axée sur l’ergonomie du site, en jargon informatique le "front-end" (essentiellement HTML, CSS), et plutôt une formation "back-end" (PHP, Ruby, Python par exemple) si vous préférez travailler au développement des fonctionnalités de l’application mobile, ou une formation "full stack" si vous voulez faire les deux !
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
        Est-il facile de trouver un emploi après une reconversion ?
      </a>
      </div>
      <div id="collapseEight" class="collapse" data-parent="#accordion">
        <div class="card-body">
         Avec l’explosion de l’internet, le marché du développement web est en plein essor ce qui fait des développeurs les rois du marché d’emploi. Les recruteurs sont de plus en plus ouverts et apprécient la variété des profils des candidats en reconversion, à condition également d’être dans une région dynamique. D’ailleurs plusieurs formations proposent un accompagnement pour la recherche d’emploi. Foncez !
        </div>
      </div>
    </div>
  </div>
</div>
    
</body>
</html>
