/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card-custom {
  overflow: hidden;
  min-height: 500px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

.navbar_profile_picture {
  margin-right: 1vw;
  border-radius: 50%;
  width: 2vw;
  height: 4vh;
}

.footer {
  
border: 0px solid grey;
border-radius: 10px

}
/*modification du footer*/

 .footer-header {
   margin-top: 20px;
 }

 .footer-line {
   background-color: #FFFFFF;

 }

.footer-text {
   color: #FFFFFF;
   font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }

 footer {
  left: 0;
  bottom: 0;
  width:100%;

  color: #fff;
 }


a, a:visited {
     Les liens "au repos" et déjà visités antérieurement 
    color: #ffffff; /* couleur blanche */
}
a:hover, a:focus, a:active {
    /* Les liens au survol, au focus, et actifs : on leur donne la couleur rouge pour l'exemple */
    color: #blue;;
}


/*footer*/

/*modification de la navbar*/


.propositionlogo2.png {
max-width: 50%;
  height: auto;


}

/*jumbotron*/

.jumbotron-1 {
  background:url('https://cdn.pixabay.com/photo/2014/05/02/21/49/home-office-336373_960_720.jpg') top center fixed;
height: auto;
background-size:cover;
margin-top: 2px;
margin-bottom:1px;
padding-top: 3em;
padding-bottom: 5px;
  
}


.jumbotron-2 {
  background:url('https://cdn.pixabay.com/photo/2015/02/02/11/08/office-620817_960_720.jpg') top center fixed;
height: auto;
background-size:cover;
margin-top: 2px;
margin-bottom:1px;
padding-top: 3em;
padding-bottom: 5px;
  
}

.green {
border: 0px solid green;
 }
.header-form {
   font-size: 50px; /* Paragraphes de 14 pixels */
  text-align: center;
   color: white;


}

.yellow {
border: 0px solid yellow;

}

.red {

  margin-left: auto;
  margin-right: auto;


}

.form-group{

 font-weight: bold;
}

#element1 {
  margin-right: 30px;
  margin-left: 30px;
}

#element2 {
  margin-right: 30px;
}

#element3 {
  margin-right: 30px;
}

#element4 {
  margin-right: 30px;
}

nav {
  height: 75px;
}
