// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.comment {
  max-width:50vw;
  margin-bottom: 2vh;
  margin-left: 1vw;
}

.user_avatar {
  max-width:5vw;
  *{
    width: 64px;
    height: 64px;
  }
}

.current_user_avatar {
  *{
    width: 64px;
    height: 64px;
  }
}
.comment_content {
  margin: 2vh;
  font-size: 1.25rem;
  background-color: #e6e6e6;
}

.new_comment {
  max-width:20vw;
  margin-left: 1vw;
}

.comment_author {
  margin-top: 3vh;
  margin-left: 2vw;
}
