// Place all the styles related to the trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.card-index:hover {
  -webkit-box-shadow: 0px 0px 20px -13px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 20px -13px rgba(0,0,0,0.59);
  -box-shadow: 0px 0px 20px -13px rgba(0,0,0,0.59);
}

.comment {
  display: flex;
  list-style-type: none;
  flex-flow: column;
  padding-right: 25vw;
  margin-top: 2vh;

  .comment_main {

    ul {
      list-style-type: none;
    }

    .user_avatar {

    }

    .comment_content {
      width: 100vh;
      background-color: #e6e6e6;
    }

    .comment_details {
      list-style-type: none;

    }

    .comment_buttons {

    }
  }
}

.new_comment {
  display: flex;
  margin-top: 2vh;
  padding-right: 25vw;

}




.filters {
  font-family: 'Bellota';
  .search_modes {
    label.check_boxes {
      padding: 5px;
      background-color: #f39c12;
      border-radius: 5%;
    }
  }
  .search_durations {
    label.check_boxes {
      padding: 5px;
      background-color: #3498DB;
      border-radius: 5%;
    }
  }
  .search_prices {
    label.check_boxes {
      padding: 5px;
      background-color: #E74C3C;
      border-radius: 5%;
    }
  }
}

.infos {
  border: solid 2px red;
}

