<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Votre email est en train d'être modifié en <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Votre email a été modifié en <%= @resource.email %>.</p>
<% end %>
